<footer class="contact-us">
    <h4 class="final">Contact us and learn more about joining our collaboration as a partner, or to submit
      a proposal to become a resident inventor.
    </h4>

    <div class="closing">
      <p> <a href="contact-page.html" id="button_2" class="email" target="_blank">nicole@NewledoHub.org</a>
        <br><br>
        88 Fruitvale Road Newport Oregon 97365
      </p>
    </div>
    
  </footer>