@media only screen and ( max-width: 320px)
{
.bg__1{
background-image: url("/images_240/1_Bridge_w_Bunny240.jpg");
}
.bg__2{
background-image: url("/images_240/2_Barn_wideshot_web240.jpg");
}
.bg__3{
background-image: url("/images_240/3_RainbowPasture240.jpg");
}
.bg__4{
background-image: url("/images_240/4_Newport-Oregon_web_sm_240.jpg");
}
}
