@media only screen and ( max-width: 1024px)
{
.bg__1{
background-image: url("./images_640/1_Bridge_w_Bunny_web_640.jpg");
}
.bg__2{
background-image: url("./images_640/2_Barn_wideshot_web_640.jpg");
}
.bg__3{
background-image: url("./images_640/3_RainbowPasture640.jpg");
}
.bg__4{
background-image: url("./images_640/4_Newport-Oregon_web_640.jpg");
}
}
