
.overlay {
    position: relative;
    top: 5%;
    left: 0%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    background-color: transparent;
    max-width: fit-content;
    border-radius: 5px;
  }
  .overlay-content a {
    padding: 20px;
    padding-left: 30px;
    background-color: transparent;
    //font-size: 28px;
    color:$secondary-color;
    font-family: $title-font;
    left: $text-left;
  }
  .overlay-content a:link {
    text-decoration: none;
  }
  
  .overlay-content a:visited {
    text-decoration: none;
  }
  //Note: a:hover MUST come after a:link and a:visited in the CSS definition in order to be effective.
  //Note: a:active MUST come after a:hover in the CSS definition in order to be effective.
  .overlay-content a:hover {
    text-decoration: underline;
  }
  
  .overlay-content a:active {
    text-decoration: underline;
  }
  
  #span{
    display: none;
    cursor:pointer;
  }