* {
  max-width: 100%;
  background-color: $primary-background-color;
  
}

.mission{
  left: $header-left;
  font-family: $title-font;
  max-width: 1920px;
  width: 87%/* calc(100% - $text-left*3) */;
  padding:.5rem .5rem 0rem .5rem;
  padding-left: 8%;
  text-wrap:balance; 
  border-top-left-radius: 2rem 4%;
  border-top-right-radius: 2rem 4%;
  z-index: 1;
}
.sub-header{
  padding-top: 3%;
  color: $primary-color;
  letter-spacing: .1ch;
}
.vision{
  position: relative;
   top: -28%;
  left: 0%;
  display: flex;
  flex-flow: column;
  flex: 2 1 auto;
  max-width: 2020px;
}

.button_1 {
  position: relative;
  flex: 2 1 auto;
  flex-direction: row;
   top: -28%;
  left: calc( 50% - 6rem);
  background: transparent;
  text-align: center;
  vertical-align: middle;
  max-width: 80%;
  width: 20%;
  max-height: 10%;
  height: 2rem;
  border-style: solid;
  border-width: 3px;
  border-radius: .8rem;
  border-width: $button-border-width;
  border-color: $dark-border;
  color: $primary-color;
  box-sizing: content-box;
  padding: 1rem 1rem;/*  1.2rem; */
  margin: 1.5rem 1.5rem 0%;
}
#join{
  top:5%;
}