//_page4.scss
.who_block_title {
    display: block;
    margin-top: 3%;
    width: 85%;
    left: $header-left;
    padding-left: 4%;
    color: $primary-color;
    top: 3%;
    letter-spacing: normal;
}
.whose{
    display: flex;
    flex-flow: row wrap;
    left: $text-left;
    top: 4%;
    width: 90%;
    padding-bottom: 1rem;
}

.who {
    margin-bottom: 3%;
     margin-right: $text-left;
     text-align: left;
     width: 87%;
     max-width: 1000px;
    
}
ul li {
    list-style-position: inside;
    text-align: left;
 }
.contact-us {
    // font-family: $header-font;
    // font-weight: $paragraph-font-weight+50;
     top: 5%;
     left: $text-left;
     width: 87%;
     max-width: 2020px;
     text-wrap:pretty;
    // color: $white-backed-text;
    padding: 1% 0% 1% 0%;
    padding-bottom: 20%;
}

.final {
    width: 100%;
    // text-align: center;
}

.closing {
    display: flex;
    margin-left: $text-left+8%;
    width: 95%;
    height: 50%;
    //outline: 2px solid red;
    margin-top: 8%;
    color: $white-backed-text;
}

.email {
    color: $white-backed-text;
    text-decoration: underline;
    width: 40%;
    margin-left: -4%;
    font-family: $paragraph-font;
    padding: 4%;
}

// .phone {
//     //top:10%;
//     //justify-self: center;
//     width: 40%;
//     color: $white-backed-text;
//     font-family: $paragraph-font;
//     padding: 4%;
// }

// .address {
//     //top: 15%;
//     //left: 18%;
//     width: 60%;
//     left: $text-left;
//     color: $white-backed-text;
//     font-family: $paragraph-font;
//     padding: 4% 0% 4% 0%;
// }