* {
  max-width: 100%;
  background-color: $primary-background-color;
}
.mission{
  top: -28%;
  left: $header-left;
  font-family: $title-font;
  max-width: 90%;
  width: 85%/* calc(100% - $text-left*3) */;
  padding:.5rem;
  padding-left: 4%;
  text-wrap: balance; 
  border-top-left-radius: 10px 25%;
  border-top-right-radius: 10px 25%; 
}
.sub-header{
  color: $primary-color;
  letter-spacing: .1ch;
}
.vision{
  position: relative;
  top: -28%;
  left: $text-left;
  display: flex;
  flex-flow: column;
  flex: 2 1 auto;
  max-width: 90%;
}

.button_1 {
  position: relative;
  flex: 2 1 auto;
  top: -28%;
  left: calc( 50% - 6rem);
  background: transparent;
  text-align: center;
  vertical-align: middle;
  max-width: 80%;
  width: 10%;
  max-height: 10%;
  height: 2rem;
  border-style: solid;
  border-width: 3px;
  border-radius: .8rem;
  border-width: $button-border-width;
  border-color: $dark-border;
  color: $primary-color;
  box-sizing: content-box;
  padding: 1rem 1rem;/*  1.2rem; */
  margin: 1.5rem 1.5rem 0%;
  z-index: 0;
}
#join{
  top:5%;
}