@media only screen and (min-aspect-ratio: 1/3) {
  #span {
    margin-top: 45%;
  }
  .bg__1 {
    top: -28%;
  }
  .mission{
    top: -35%;
  }
  .vision{
    top: -35%;
  }
.rect_page_title_2{
  top: -5%;

}
}
@media screen and (min-aspect-ratio: 1/3) and (min-width: 710px){
.mission{
  top: -27%;
}
}
@media only screen and (min-aspect-ratio: 7/16) and (min-width: 720px){
  
  .mission{
    top: -32%;
  }
  .button_1{
    top: -32%;
  }
}
@media only screen and (max-aspect-ratio: 1/2) and (min-width: 480px)
 {
  .rect_page_title_2 {
    margin-top: 2%;
  }
  .rect_2 {
    top: 0%;
  }
}
@media only screen and (min-aspect-ratio: 1/2) and (min-width: 480px) 
and (max-aspect-ratio: 2/3){
  .bg__1 {
    top: -30%;
  }

  

  .rect_page_title_2 {
    top: 0%;
  }

  .rect_2 {
    top: 4%;
  }
}
@media only screen and (min-aspect-ratio: 1/2) and (min-width: 560px) {
  #span {
    top: 10%;
  }
  .bg__1 {
    top: -28%;
  }
  .mission {
    top: -35%;
  }

  .vision {
    top: -32.5%;
  }
  .rect_page_title_2 {
    top: -5%;
  }
  .rect_2 {
    top: -3%;
    margin-top: -4%;
  }
  
}
@media screen and (min-aspect-ratio: 1/2) and (min-width: 590px){
  .mission{
    top: -33%;
  }
}
@media screen and (min-aspect-ratio: 1/2) and (min-width: 600px){
  .mission{
    top: -32%;
  }
}
@media only screen and (min-width: 600px){
 
      .vision {
        flex-flow: row nowrap;
        width: 80%;
      }
}

@media only screen and (min-aspect-ratio: 1/2) and (min-width: 612px) {
  .bg__1 {
    top: -10%;
  }
  .mission {
    top: -16%;
  }

  .vision {
    top: -16%;
  }
  .button_1{
    top: -15%;
  }
}

@media only screen and (max-aspect-ratio: 1/2) and (min-width: 640px) {
  .button_1{
    top: 15%;
  }
  .acerage {
    margin-top: 3%;
  }
  .rect_2 {
    margin-top: 3%;
  }
}
@media only screen and (min-aspect-ratio: 1/2) and (min-width: 640px) {
  .bg__1 {
    top: -10%;
  }
  .mission {
    top: -15%;
  }
  .rect_1 {
    top: 0%;
    margin-top: -6%;
  }
  .rect__2 {
    top: 0%;
    margin-top: -4%;
  }
  .acerage {
    margin-top: -3%;
  }
}
@media only screen and (min-aspect-ratio: 1/2) and (min-width: 679px){
  .rect_page_title_2{
  top: -3%;
  }
}
@media only screen and (min-aspect-ratio: 1/2) and (min-width: 707px) {
  .mission{
    top: -15%;
  }
  .button_1{
    left: -32%;
  }
  .rect_page_title_2{
    top: -4%;
    }
}

@media only screen and (min-aspect-ratio: 1/2) and (min-width: 837px){
  .rect_page_title_2{
    top: -5%;
  }
  .rect_2{
  top: 3%;
  }
}
@media only screen and (min-width: 640px) {
  .whose {
    flex-wrap: nowrap !important;
  }
}
@media only screen and (min-aspect-ratio: 1 / 2) and (min-width: 1024px){
.rect_page_title_2 {
  top: -3%;
}
}
@media only screen and (min-aspect-ratio: 2/3) and (min-width: 430px) {
  .bg__1 {
    top: -32%;
  }
  .mission{
    top: -35%;
  }
  .vision{
    top: -35%;
  }
  .button_1 {
    top: -25%;
  }
}
@media only screen and (min-aspect-ratio: 1/2) and (min-width: 598px) {
  .bg__1 {
    top: -20%;
  }
  .mission {
    top: -25%;
  }

  .vision {
    top: -25%;
  }
  .button_1{
    top: -25%;
  }
}
@media only screen and (min-aspect-ratio: 1/2) and (min-width: 892px) {
  .bg__1 {
    top: -12%;
  }
  .mission {
    top: -19%;
  }
  .vision{
    top: -19%;
  }
  .button_1{
    top: -19%;
  }
}

@media only screen and (min-aspect-ratio: 2/3) and (min-width: 640px) {
  .bg__1 {
    top: -3%;
  }
  .mission {
    top: -8%;
  }

  .vision {
    top: -8%;
  }
}

@media only screen and (min-aspect-ratio: 2/3) and (min-width: 767px) {
  .rect_2 {
    top: -4%;
    margin-top: -4%;
  }
  .acerage {
    margin-top: 2%;
  }
  .button_1{
    top: -8%;
  }
  .rect_page_title_2 {
    top: -5%;
  }
}

@media only screen and (min-aspect-ratio: 2/3) and (min-width: 854px) {
  .vision{
    top: -23%
  }
  
  .button_1 {
    top: -17%;
    left: 30%;
  }
  .rect_page_title_2{
    margin-top: 0%;
  }
  .rect_2{
    top: -2%;
  }
}
@media only screen and (min-aspect-ratio: 2/3) and (min-width: 854px) {
  .vision{
    top: -8%;
  }
  .button_1{
    top: -8%;
    left: 30%;
  }
}
@media only screen and (min-aspect-ratio: 2/3) and (min-width: 904px) {

  .rect_page_title_2{
    top: -4%;
    margin-top: 0%;
  }
  .rect_2 {
    top: -3%;
    margin-top: 0%;
  }
}
@media only screen and (min-aspect-ratio: 2/3) and (min-width: 1023px) {
  .rect_2 {
    top: 0%;
    margin-top: 5%;
  }
  .rect_2 {
    top: -6%;
  }
  
}
@media only screen and (min-aspect-ratio: 3/4) and (min-width: 506px) {
  .bg__1 {
    top: -34%;
  }
  .mission {
    top: -40%;
  }
}
@media only screen and (min-aspect-ratio: 3/4) and (min-width: 534px) {
  .bg__1 {
    top: -2%;
  }
  rect_page_title_2 {
    top: -5%;
  }
}

@media only screen and (min-aspect-ratio: 3/4) and (min-width: 543px) {
  .bg__1 {
    top: -36%;
  }
  .mission {
    top: -42%;
  }
}
@media only screen and (min-aspect-ratio: 3/4) and (min-width: 800px) {
  .bg__1 {
    top: -12%;
  }
  .mission {
    top: -19%;
  }
}
// @media only screen and ( min-aspect-ratio: 3/4) and (min-width: 808px){
//   .bg__1 {
//     top: -8%;
//   }
//   .mission {
//     top: -15%;
//   }
// }
@media only screen and (min-aspect-ratio: 3/4) and (min-width: 900px) {
  .bg__1 {
    top: -23%;
  }
  .mission {
    top: -30%;
  }
  .vision{
    top: -29%;
  }
  .button_1{
    top: -26%;
  }
}

@media only screen and (min-aspect-ratio: 3/4) and (min-width: 951px) {
  .rect_page_title_2 {
    top: -4%;
  }
}
@media only screen and (min-aspect-ratio: 3/4) and (min-width: 1024px) {
  .mission {
    top: -29%;
    padding-bottom: 2%;
  }
  .rect_page_title_2 {
    top: -4.5%;
  }
  .rect_2 {
    top: 0%;
    margin-top: -4.5%;
  }
  .acerage {
    margin-top: 2%;
  }
}
@media only screen and (min-aspect-ratio: 3/4) and (min-width: 1570px) {
  .rect_page_title_2 {
    top: -5%;
    margin-top: 0%;
  }
  .rect_2 {
    top: -6%;
  }
  
}
@media only screen and (min-aspect-ratio: 3/4) and (min-width: 2000px) {
  .rect_page_title_2 {
    top: -1%;
  }
  .rect_2 {
    top: 1%;
    margin-top: 0%;
  }

}

@media only screen and (min-aspect-ratio: 7/8) and (min-width: 560px) {
  .bg__1 {
    top: -36%;
  }
  .mission {
    top: -40%;
  }
}
@media only screen and (min-aspect-ratio: 7/8) and (min-width: 790px){
  .bg__1{
    top: -19%;
  }
  .mission{
    top: -27%;
  }
}
@media only screen and (min-aspect-ratio: 7/8) and (min-width: 837px) {
  .vision{
    top: -23%;
  }
  .button_1{
    top: -13%;
    left: 30%;
  }
}
@media only screen and (min-aspect-ratio: 7/8) and (min-width: 887px) {
  .mission{
    top: -27%;
  }
}

@media only screen and (min-aspect-ratio: 7/8) and (min-width: 948px) {
  .mission{
    top: -25%;
  }
  .vision{
    top: -25%;
  }
}
@media only screen and (min-aspect-ratio: 7/8) and (min-width: 1125px) {
  .pastures{
    margin-top: -1%;
  }
}
@media only screen and (min-aspect-ratio: 7/8) and (min-width: 1800px) {
  .mission {
    top: -7%;
    padding-bottom: 2%;
  }
  .vision {
    top: -15%;
  }
  .button_1{
    top: -15%;
  }
}
@media only screen and (min-aspect-ratio: 1/1) and (min-width: 590px) {
  .mission{
    top: -17%;
  }
  .vision{
    top: -17%;
  }
  .button_1{
    top: -12%;
  }
}
@media only screen and (min-aspect-ratio: 1/1) and (min-width: 640px) {
  .bg__1 {
    top: -8%;
  }
}
@media only screen and (min-aspect-ratio: 1/1) and (min-width: 708px) {

  .mission {
    top: -15%;
  }
  .button_1 {
    top: -10%;
    left: 35%;
  }
}
@media only screen and (min-aspect-ratio: 1/1) and (min-width: 850px)
{
  .vision{
    top: -15%;
  }
  .button_1{
    top: -15%;
    left: 35%;
  }
}

@media only screen and (min-aspect-ratio: 1/1) and (min-width: 1024px) and (max-aspect-ratio: 8/5) {

  .mission {
    top: -13%;
    padding-bottom: 2%;
  }
  .vision {
    top: -13%;
  }
  .button_1 {
    top: -13%;
    left: 35%;
  }
  .rect_page_title_2 {
    margin-bottom: 0%;
  }
  .rect_1 {
    top: 2%;
    margin-bottom: 5%;
  }
  .rect_2 {
    top: -2%;
    margin-top: 0%;
  }
  .acerage {
    margin-top: 2%;
  }
}


@media only screen and (min-aspect-ratio: 5/4) and (min-width: 893px) {
  .pastures{
    margin-top: 2%;
  }
}
@media only screen and (min-aspect-ratio: 5/4) and (min-width: 1400px) {
  .rect_page_title_2{
    top: -5%;
  }
  .rect_2 {
    top: -5%;
  }
}
@media only screen and (min-aspect-ratio: 1/1) and (min-width: 1804px) {
  .rect_page_title_2{
    top: -1%;
  }
}
@media only screen and (min-aspect-ratio: 5/4) and (min-width: 1600px) {
  .rect_1 {
    top: 0%;
    margin-top: -2%;
  }
}
@media only screen and (min-aspect-ratio: 5/4) and (min-width: 1900px) {
  .rect_page_title_2 {
    top: -2%;
  }
  .rect_2 {
    top: -1%;
    margin-top: 0%;
  }

}

@media only screen and (min-aspect-ratio: 4/3) and (min-width: 1024px) {
  .rect_1 {
    top: 0%;
    margin-top: -1%;
  }
}
@media only screen and (min-aspect-ratio: 4/3) and (min-width: 1980px) {
.rect_page_title_2{
  top: -2%;
}
}
@media only screen and (min-aspect-ratio: 4/3) and (min-width: 3000px) {
  .rect_page_title_2{
    top: -1%;
  }
  .rect_2{
    top: 1%;
  }
}
@media only screen and (min-aspect-rato: 3/2) and (min-width: 3060px) {
  .rect_page_title_2{
    top: 1%;
  }
}  
@media only screen and (min-aspect-ratio: 8/5) and (min-width: 1452px) {
  .rect_page_title_2 {
    top: -5%;
  }
  .rect_2{
    top: 5%;
  }
}
@media only screen and (min-aspect-ratio: 8/5) and (min-width: 2482px) {
  .rect_page_title_2 {
    top: -1.5%;
  }
  .rect_2{
    top:2.5%;
  }
}
@media only screen and (min-aspect-ratio: 14/9) and (min-width: 1900px) {
  .rect_page_title_2 {
    top: -5%;
  }
  .rect_2{
    top: -4%;
  }
}
@media screen and (min-aspect-ratio: 5/3 )and (min-width: 568px){
  .bg__1{
    top: -73%;
  }
  .mission{
    top: -80%;
  }
}
@media screen and (min-aspect-ratio: 5/3 )and (min-width: 940px){
  .bg__1{
    top: 0%;
  }
  .mission{
    top: -7%;
  }
  .vision{
    top: -0%;
  }
  .button_1{
    top: -0%;
  }
  .rect_1{
    top: 5%
  }
}
@media screen and (min-aspect-ratio: 5/3 )and (min-width: 1024px){
  .bg__1{
    top: -30%;
  }
  .mission{
    top: -37%;
  }
}
@media screen and (min-aspect-ratio: 5/3 )and (min-width: 1364px){
  .vision{
    top: -30%;
  }
  .button_1{
    top: -30%;
  }
}
@media screen and (min-aspect-ratio: 5/3 )and (min-width: 1500px){
  .bg__1{
    top: -15%;
  }
  .mission{
    top: -22%;
  }
  .vision{
    top: -22%;
  }
}
@media screen and (min-aspect-ratio: 8/5 )and (min-width: 1636px){
  .button_1{
    top: -10%;
  }
}
@media screen and (min-aspect-ratio: 5/3 )and (min-width: 2390px){
  .pastures{
    margin-top: 1%;
  }
}

@media screen and (min-aspect-ratio: 16/9) and (min-width: 560px){
  .bg__1{
    top: -1%;
  }
  .mission{
    top: -12%;
  }
  .rect_1{
    top: 0%;
  }
  .rect_2{
    top: 5%;
  }
}
// 1000 / 561   [ '1000', '561' ]  min: 16 : 9
@media only screen and (min-aspect-ratio: 16/9) and (min-width: 1000px) {
  .vision{
    top: -10%;
  }
  .button_1{
    top: -10%;
  }
}
@media only screen and (min-aspect-ratio: 16/9) and (min-width: 1024px) {
  .rect_1 {
    top: -3%;
   
  }
  .rect_2 {
    top: 5%;
   
  }
  .share_block_title{top:-1%}
  
}
@media only screen and (min-aspect-ratio: 16/9) and (min-width:1632px){
  .vision{
    top: -15%;
  }
}
@media only screen and (min-aspect-ratio: 16/9) and (min-width: 1800px) {
  .vision{
    top: -14%;
  }
}
@media only screen and (min-aspect-ratio: 16/9) and (min-width: 1920px) {
  .bg__1{
    top: -1%;
  }
  .mission{
    top: -12%;
  }
  .vision{
    top: -12%;
  }
  .button_1{
    top: -12%;
  }
  .rect_1 {
    top: -1%;
   
  }
}
@media only screen and (min-aspect-ratio: 16/9) and (min-width: 2120px) {
  .rect_2 {
    top: -4%;
  }
}
@media only screen and (min-aspect-ratio: 16/9) and (min-width: 2845px) {
  .rect_page_title_2 {
    top: -5.5%;
    height: 6rem;
  }
  .rect_2{
    top:-5%;
  }
}


@media only screen and (min-aspect-ratio: 16/9) and (min-width: 3840px) {
  .rect_page_title {
    height: 7rem;
  }

  .rect_page_title_2 {
    height: 7rem;
  }
  .rect_1{
    top: 1%;}
  .rect_2 {
    top: 7%;
   
  }
}

@media only screen and (min-aspect-ratio: 17/9) and (min-width:1800px){
  .vision{
    top: -14%;
  }
}
@media only screen and (min-aspect-ratio: 17/9) and (min-width: 2846px) {
  .rect_page_title_2{
    height: 6rem;
  }
  .rect_2{
    top:-3%;
  }
}
@media only screen and (min-aspect-ratio: 2/1) and (min-width: 740px) {
  .bg__1 {
    top: 0%;
  }
  .mission {
    top: -10%;
  }
  .share_block_title {
    top: -6%;
  }
}
@media only screen and (min-aspect-ratio: 2/1) and (min-width: 1161px) {
  .vision{
    top: -10%;
  }
}
@media only screen and (min-aspect-ratio: 2/1) and (min-width: 1800px) {
  .vision{
  top: -13%;
}}

@media only screen and (min-aspect-ratio: 2/1) and (min-width: 2846px) {
  .rect_page_title_2{
    height: 5rem;
  }
  .rect_2{
    top:-2%;
  }
}
@media only screen and (min-aspect-ratio: 2/1) and (min-width: 3000px) {
  
  .rect_page_title_2 {
    top: -5%;
  }
  .rect_2{
    top:-2.5%;
  }
  .share_block_title {
    top: 1%;
  }
  .pastures{
    top: 4%;
  }
}