
.share_block_title {
    background-color: $primary-background-color !important;
    color: $primary-color;
    width: fit-content;
    height: fit-content;
    left: $header-left;
    top: 0%;
    padding-left: 4%;
    padding-bottom: 3%;
  }

.bring {
    // width: 70%;
    // top: 4%;
    // left: $text-left;
    font-weight: $header-font-weight;
    color: $primary-color;
    // padding-bottom: 3%;   
}

.third_p {
  top: 4%;
  left: $text-left;
  width: 85%;
  max-width: 1300px;
  color: $white-backed-text;
  text-align: left;
}

.rect_page_title_2 {
  display: block;
  position: relative;
  color: $primary-color;
  height: 4rem;
  width: 85%;
  top: 0%;
  left: $header-left;
  background-color: $primary-background-color;
  border-top-left-radius: 10px 25%;
  border-top-right-radius:  10px 25%;
  padding: 3% 6% 0% 4%;
}

.rect_2 {
  display: flex;
  flex-flow: column;
  background-color: $primary-background-color;
    font-family: $header-font;
    height: fit-content;//70%;
    width: 85%;
    top: -1%;
    left: $text-left;
    border-top-left-radius: 10px 25%;
    border-top-right-radius:  10px 25%;
  }
 
  .acerage {
    font-weight: $header-font-weight;
    color: $primary-color;
}

.pastures {
  position: relative;
  top: 2%;
  left: $text-left;
  width: 87%;
  color: $white-backed-text;
  //outline: 3px solid red;
}
.restoration {
    top: 2%;
    //left: $text-left;
    width: 85%;
    height: 20%;
    color: $white-backed-text;
    max-width: 1300px;
  }
 

