
.bg__3{
  top: -35%;
}
.rect_1 {
  display: flex;
  flex-flow: column;
  height: fit-content;
  width: 87%;
  left: 8%;
  background-color: $primary-background-color;
  font-family: $header-font;
  // text-align: left;
  top: -10%;
  margin-bottom:2%;
  border-top-left-radius: 20px 3%;
  border-top-right-radius: 20px 3%;
  z-index: 1;
}
.top-header{
  padding-left: 5%;
  padding-right: 5%;
}
.rect_page_title {
  display: block;
  position: relative;
  // font-family: $header-font;
  color: $primary-color;
  height: 4rem;
  max-width: 1920px;
  width: 85%;
  height: 6%;
  background-color: $primary-background-color;
  top: -5%;
  left: $header-left;
  border-top-left-radius: 20px 3%;
  border-top-right-radius: 20px 3%;
  padding: 3% 6% 6% 4%;
  // outline: 2px solid red;
}
.engaged {
  position: relative;
  top: 0%;
  left: $text-left;
  width: 87%;
  max-width: 1300px;
  color: $white-backed-text;
  //outline: 3px solid red;
}

#about{
  position:absolute;
  //top: 100%;
  color: transparent;
  background-color: transparent;
  }



a:link.event{
  text-decoration:underline;
}
/* — after the user has visited the link */
a:visited.event{text-decoration:wavy;}
/* — when the user hovers their mouse over the link */
a:hover.event{
  text-decoration:underline;
  color: $secondary-color;
}
/* needs to be last */
a:active.event{text-decoration:underline;}
//rectangles on page 2 and page 3