@import '../config';
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,800;1,600&family=Poppins:wght@400;600;800&display=swap");
html,
body {
  height: 100%;
  margin: 0%;
  background-color: $primary-background-color;
  font-family: $header-font;
  padding-bottom: 5rem;
}

.bg__1 {
  display: flex;
  flex-direction: column;
  background-image: url("/residency/residency/barn_at_dawnCROPPED02_1024.jpg");
  /* Full height */
  min-height: 50rem;
  height: 100%;
  max-width: 100%;
  /* Center and scale the image nicely */
  -webkit-background-size: 100% 100%; /* Safari 3.0 */
  -o-background-size: 100% 100%; /* Opera 9.5 */
  /* align-self: bottom; */
  background-position-y: 0%;
  flex-shrink: 1;
  background-repeat: no-repeat;
  background-attachment:initial;
  background-size: cover;
}

.flex-container {
  justify-content: center;
  max-width: 2800px;
  width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  padding-left: 1rem;
  margin-left: $text-left;
  margin-right: $text-left;
}

.header {
  flex-direction: column;
  font-weight: 800;
  font-family: $title-font;
}

h1, h2 {
  display: flex;
  color: $primary-color;
}

h5 {
  font-weight: 200;
}
.main{
  margin-left: $text-left;
  
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 1;
}

figure {
  flex: 32%;
  border-style: solid;
  border-color: $light-border;
  border: 1rem;
  justify-content: baseline;
  margin: 0%;
  padding: 0% 0% 0% 0.2%;
}

article {
  flex: 1;
  flex-wrap: wrap;
}

img {
  border-style: solid;
  border-color: $light-border;
  border: 1rem;
  width: 100%;
  margin: 0%;
  padding: 0%;
}

li {
  text-wrap: nowrap;
}

.supporters {
  display: flex;
  flex-direction: table-row;
  flex-wrap: wrap;
  padding-left: 0%;
}

#footer {
  height: 15rem;
}

@media screen and (max-width: 1920px) {
  .bg__1 {
    background-position-x: 70%;
    background-position-y: 0%;
    background-size: 1920px;
    height: 90%;
    min-height: fit-content;
  }
  .flex-container {
    width: 85%;
  }
  #title{margin-top: -4%;}
}
@media screen and (max-width: 1600px) {
  .bg__1 {
    background-position-x: 70%;
    background-position-y: 0%;
    background-size: 1600px;
    height: 642px;
    min-height: fit-content;
  }
  #title{margin-top: 2%;}
}
@media screen and (max-width: 1370px) {
  .bg__1 {
    background-position-x: 70%;
    background-position-y: 0%;
    background-size: 1370px;
    height: 642px;
    min-height: fit-content;
  }
}
@media screen and (max-width: 1281px) {
  .bg__1 {
    background-position-x: 70%;
    background-position-y: 0%;
    background-size: 1281px;
    height: 642px;
    min-height: fit-content;
  }
}
@media screen and (max-width: 1024px) {
  .bg__1 {
    background-position-x: 70%;
    background-position-y: 0%;
    background-size: 1024px;
    height: 642px;
    min-height: fit-content;
  }
  #title{margin-top:-16%;}
}
@media screen and (max-width: 640px) {
  .bg__1 {
    background-position-x: 70%;
    background-position-y: 0%;
    background-size: 640px;
    height: 400px;
    min-height: fit-content;
  }
  #title{margin-top: -15%;}
}
@media screen and (min-width: 500px) {
  .logos {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .lower {
    margin-left: 2%;
  }
}
@media screen and (max-width: 420px) {
  .bg__1 {
    background-position-x: 70%;
    background-position-y: 0%;
    background-size: 420px;
    height: 263px;
    min-height: fit-content;
  }
  #title{margin-top: -15%;}
}

/* h1 {
  font-size: 24px;
} */
@import '../font_responsive';
/*# sourceMappingURL=grange-garden.css.map */
