//./src/scss/happenings/_first_images.scss
@media only screen and (min-width: 420px) {
  #_1_eclipser-mixer {
    background-image: url("./images/eclipser-mixer/eclipser-mixer_420/1_EclipserMixer_420.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 420px;
    height: 315px;
  }
  #_1_ferrock {
    background-image: url("./images/ferrock/ferrock_420/1_ferrock_tiles_420w.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 420px;
    height: 315px;
  }
  #_1_mushroom_event_1 {
    background-image: url("./images/mushroom_event_1/mushroom_event_1_420/1_Workshop_wide _420.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 420px;
    height: 315px;
  }
}
@media only screen and (min-width: 840px) {
    #_1_eclipser-mixer {
      background-image: url("./images/eclipser-mixer/eclipser-mixer_640/1_EclipserMixer_640.jpg");
      background-repeat: no-repeat;
      background-position: center;
      width: 640px;
      height: 480px;
    }
    #_1_ferrock {
      background-image: url("./images/ferrock/ferrock_640/1_ferrock_tiles_640w.jpg");
      background-repeat: no-repeat;
      background-position: center;
      width: 640px;
      height: 480px;
    }
    #_1_mushroom_event_1 {
      background-image: url("./images/mushroom_event_1/mushroom_event_1_640/1_Workshop_wide _640.jpg");
      background-repeat: no-repeat;
      background-position: center;
      width: 640px;
      height: 480px;
    }
  }
@media only screen and (min-width: 1280px){
    #_1_eclipser-mixer {
      background-image: url("./images/eclipser-mixer/eclipser-mixer_1024/1_EclipserMixer_1024.jpg");
      background-repeat: no-repeat;
      background-position: center;
      width: 1024px;
      height: 768px;
    }
    #_1_ferrock {
      background-image: url("./images/ferrock/ferrock_1024/1_ferrock_tiles_1024w.jpg");
      background-repeat: no-repeat;
      background-position: center;
      width: 1024px;
      height: 768px;
    }
    #_1_mushroom_event_1 {
      background-image: url("./images/mushroom_event_1/mushroom_event_1_1024/1_Workshop_wide _1024.jpg");
      background-repeat: no-repeat;
      background-position: center;
      width: 1024px;
      height: 768px;
    }
  }