//./src/scss/happenings/_images_240.scss
@media only screen and ( min-width: 20px)
 and ( max-width: 860px)
{
#_1_eclipser-mixer{
background-image: url("./images/eclipser-mixer/eclipser-mixer_240/1_EclipserMixer_240.jpg");
background-repeat: no-repeat;
background-position: center;
width: 240px;
height: 180px;
border: 5px solid #ffffff;
}
#_2_eclipser-mixer{
background-image: url("./images/eclipser-mixer/eclipser-mixer_240/2_EclipserMixer_240.jpg");
background-repeat: no-repeat;
background-position: center;
width: 240px;
height: 180px;
border: 5px solid #ffffff;
}
#_3_eclipser-mixer{
background-image: url("./images/eclipser-mixer/eclipser-mixer_240/3_FennelMeThis_240.jpg");
background-repeat: no-repeat;
background-position: center;
width: 240px;
height: 310px;
border: 5px solid #ffffff;
}
#_4_eclipser-mixer{
background-image: url("./images/eclipser-mixer/eclipser-mixer_240/4_EclipserMixer_240.jpg");
background-repeat: no-repeat;
background-position: center;
width: 240px;
height: 180px;
border: 5px solid #ffffff;
}
#_5_eclipser-mixer{
background-image: url("./images/eclipser-mixer/eclipser-mixer_240/5_EclipserMixer_240.jpg");
background-repeat: no-repeat;
background-position: center;
width: 240px;
height: 181px;
border: 5px solid #ffffff;
}
#_6_eclipser-mixer{
background-image: url("./images/eclipser-mixer/eclipser-mixer_240/6_IntheWeeds_240.jpg");
background-repeat: no-repeat;
background-position: center;
width: 240px;
height: 310px;
border: 5px solid #ffffff;
}
#_7_eclipser-mixer{
background-image: url("./images/eclipser-mixer/eclipser-mixer_240/7_Nicole_croped_EclipserMixer_178.jpeg");
background-repeat: no-repeat;
background-position: center;
width: 178px;
height: 177px;
border: 5px solid #ffffff;
}

}
@media only screen and ( min-width: 20px)
 and ( max-width: 860px)
{
#_1_ferrock{
background-image: url("./images/ferrock/ferrock_240/1_ferrock_tiles_240w.jpg");
background-repeat: no-repeat;
background-position: center;
width: 240px;
height: 180px;
border: 5px solid #ffffff;
}
#_2_ferrock{
background-image: url("./images/ferrock/ferrock_240/2_Rob_&_David_crushing_oyster_240w.jpg");
background-repeat: no-repeat;
background-position: center;
width: 240px;
height: 180px;
border: 5px solid #ffffff;
}
#_3_ferrock{
background-image: url("./images/ferrock/ferrock_240/3_ferrock-gate_240w.jpg");
background-repeat: no-repeat;
background-position: center;
width: 240px;
height: 180px;
border: 5px solid #ffffff;
}
#_4_ferrock{
background-image: url("./images/ferrock/ferrock_240/4_Maria_&_Ramsey_240w.jpg");
background-repeat: no-repeat;
background-position: center;
width: 240px;
height: 320px;
border: 5px solid #ffffff;
}
#_5_ferrock{
background-image: url("./images/ferrock/ferrock_240/5_Workshop_240w.jpg");
background-repeat: no-repeat;
background-position: center;
width: 240px;
height: 180px;
border: 5px solid #ffffff;
}
#_6_ferrock{
background-image: url("./images/ferrock/ferrock_240/6_Ferrock02_240.jpg");
background-repeat: no-repeat;
background-position: center;
width: 240px;
height: 202px;
border: 5px solid #ffffff;
}
#_7_ferrock{
background-image: url("./images/ferrock/ferrock_240/7_Bake_A_Cake_240.jpg");
background-repeat: no-repeat;
background-position: center;
width: 240px;
height: 320px;
border: 5px solid #ffffff;
}

}
@media only screen and ( min-width: 20px)
 and ( max-width: 860px)
{
#_1_mushroom_event_1{
background-image: url("./images/mushroom_event_1/mushroom_event_1_240/1_Workshop_wide _240.jpg");
background-repeat: no-repeat;
background-position: center;
width: 240px;
height: 180px;
border: 5px solid #ffffff;
}
#_2_mushroom_event_1{
background-image: url("./images/mushroom_event_1/mushroom_event_1_240/2_Packing_sawdust_240.jpg");
background-repeat: no-repeat;
background-position: center;
width: 240px;
height: 180px;
border: 5px solid #ffffff;
}
#_3_mushroom_event_1{
background-image: url("./images/mushroom_event_1/mushroom_event_1_240/3_Mushroom_dye_display_240.jpg");
background-repeat: no-repeat;
background-position: center;
width: 240px;
height: 180px;
border: 5px solid #ffffff;
}
#_4_mushroom_event_1{
background-image: url("./images/mushroom_event_1/mushroom_event_1_240/4_Randi_dying_action_240.jpg");
background-repeat: no-repeat;
background-position: center;
width: 240px;
height: 320px;
border: 5px solid #ffffff;
}
#_5_mushroom_event_1{
background-image: url("./images/mushroom_event_1/mushroom_event_1_240/5_Packing_sawdust_240.jpg");
background-repeat: no-repeat;
background-position: center;
width: 240px;
height: 180px;
border: 5px solid #ffffff;
}
#_7_mushroom_event_1{
background-image: url("./images/mushroom_event_1/mushroom_event_1_240/7_Rich finished_log_240.jpg");
background-repeat: no-repeat;
background-position: center;
width: 240px;
height: 180px;
border: 5px solid #ffffff;
}
#_6_mushroom_event_1{
background-image: url("./images/mushroom_event_1/mushroom_event_1_240/6_Drilling_logs_240.jpg");
background-repeat: no-repeat;
background-position: center;
width: 240px;
height: 180px;
border: 5px solid #ffffff;
}

}
