//./src/scss/happenings/_images_1024.scss
@media only screen and ( min-width: 2048px)
{
#_1_eclipser-mixer{
background-image: url("./images/eclipser-mixer/eclipser-mixer_1024/1_EclipserMixer_1024.jpg");
background-repeat: no-repeat;
background-position: center;

width: undefinedpx;
height: undefinedpx;
}
#_2_eclipser-mixer{
background-image: url("./images/eclipser-mixer/eclipser-mixer_1024/2_FennelMeThis_1024.jpg");
background-repeat: no-repeat;
background-position: center;

width: undefinedpx;
height: undefinedpx;
}
#_3_eclipser-mixer{
background-image: url("./images/eclipser-mixer/eclipser-mixer_1024/3_EclipserMixer_1024.jpg");
background-repeat: no-repeat;
background-position: center;

width: undefinedpx;
height: undefinedpx;
}
#_4_eclipser-mixer{
background-image: url("./images/eclipser-mixer/eclipser-mixer_1024/4_IntheWeeds_1024.jpg");
background-repeat: no-repeat;
background-position: center;

width: undefinedpx;
height: undefinedpx;
}
#_5_eclipser-mixer{
background-image: url("./images/eclipser-mixer/eclipser-mixer_1024/5_EclipserMixer_1024.jpg");
background-repeat: no-repeat;
background-position: center;

width: undefinedpx;
height: undefinedpx;
}
#_6_eclipser-mixer{
background-image: url("./images/eclipser-mixer/eclipser-mixer_1024/7_EclipserMixer_1024.jpeg");
background-repeat: no-repeat;
background-position: center;

width: undefinedpx;
height: undefinedpx;
}
#_7_eclipser-mixer{
background-image: url("./images/eclipser-mixer/eclipser-mixer_1024/7_EclipserMixer_1024.jpg");
background-repeat: no-repeat;
background-position: center;

width: undefinedpx;
height: undefinedpx;
}

}@media only screen and ( min-width: 2048px)
{
#_1_ferrock{
background-image: url("./images/ferrock/ferrock_1024/1_ferrock_tiles_1024w.jpg");
background-repeat: no-repeat;
background-position: center;

width: undefinedpx;
height: undefinedpx;
}
#_2_ferrock{
background-image: url("./images/ferrock/ferrock_1024/2_Ferrock05_1024.jpg");
background-repeat: no-repeat;
background-position: center;

width: undefinedpx;
height: undefinedpx;
}
#_3_ferrock{
background-image: url("./images/ferrock/ferrock_1024/3_ferrock-gate_1024w.jpg");
background-repeat: no-repeat;
background-position: center;

width: undefinedpx;
height: undefinedpx;
}
#_4_ferrock{
background-image: url("./images/ferrock/ferrock_1024/4_Maria_&_Ramsey_1024w.jpg");
background-repeat: no-repeat;
background-position: center;

width: undefinedpx;
height: undefinedpx;
}
#_5_ferrock{
background-image: url("./images/ferrock/ferrock_1024/5_Ferrock_1024w.jpg");
background-repeat: no-repeat;
background-position: center;

width: undefinedpx;
height: undefinedpx;
}
#_6_ferrock{
background-image: url("./images/ferrock/ferrock_1024/6_Ferrock02_1024.jpg");
background-repeat: no-repeat;
background-position: center;

width: undefinedpx;
height: undefinedpx;
}
#_7_ferrock{
background-image: url("./images/ferrock/ferrock_1024/7_Bake_A_Cake_1024.jpg");
background-repeat: no-repeat;
background-position: center;

width: undefinedpx;
height: undefinedpx;
}

}@media only screen and ( min-width: 2048px)
{
#_1_mushroom_event_1{
background-image: url("./images/mushroom_event_1/mushroom_event_1_1024/1_Workshop_wide _1024.jpg");
background-repeat: no-repeat;
background-position: center;

width: undefinedpx;
height: undefinedpx;
}
#_2_mushroom_event_1{
background-image: url("./images/mushroom_event_1/mushroom_event_1_1024/2_Packing_sawdust_1024.jpg");
background-repeat: no-repeat;
background-position: center;

width: undefinedpx;
height: undefinedpx;
}
#_3_mushroom_event_1{
background-image: url("./images/mushroom_event_1/mushroom_event_1_1024/3_Mushroom_dye_display_1024.jpg");
background-repeat: no-repeat;
background-position: center;

width: undefinedpx;
height: undefinedpx;
}
#_4_mushroom_event_1{
background-image: url("./images/mushroom_event_1/mushroom_event_1_1024/4_Randi_dying_action_1024.jpg");
background-repeat: no-repeat;
background-position: center;

width: undefinedpx;
height: undefinedpx;
}
#_5_mushroom_event_1{
background-image: url("./images/mushroom_event_1/mushroom_event_1_1024/5_Packing_sawdust_1024.jpg");
background-repeat: no-repeat;
background-position: center;

width: undefinedpx;
height: undefinedpx;
}
#_6_ferrock{
background-image: url("./images/ferrock/ferrock_240/6_Ferrock02_240.jpg");
background-repeat: no-repeat;
background-position: center;

width: undefinedpx;
height: undefinedpx;
}
#_7_ferrock{
background-image: url("./images/ferrock/ferrock_240/7_Bake_A_Cake_240.jpg");
background-repeat: no-repeat;
background-position: center;

width: undefinedpx;
height: undefinedpx;
}

}