//./src/scss/happenings/_images_420.scss
@media only screen and ( min-width: 840px)
 and ( max-width: 1280px)
{
#_2_eclipser-mixer{
background-image: url("./images/eclipser-mixer/eclipser-mixer_420/2_EclipserMixer_420.jpg");
background-repeat: no-repeat;
background-position: center;
width: 420px;
height: 315px;
}
#_1_eclipser-mixer{
background-image: url("./images/eclipser-mixer/eclipser-mixer_420/1_EclipserMixer_420.jpg");
background-repeat: no-repeat;
background-position: center;
width: 420px;
height: 315px;
}
#_6_eclipser-mixer{
background-image: url("./images/eclipser-mixer/eclipser-mixer_420/6_IntheWeeds_420.jpg");
background-repeat: no-repeat;
background-position: center;
width: 420px;
height: 543px;
}
#_3_eclipser-mixer{
background-image: url("./images/eclipser-mixer/eclipser-mixer_420/3_FennelMeThis_420.jpg");
background-repeat: no-repeat;
background-position: center;
width: 420px;
height: 543px;
}
#_5_eclipser-mixer{
background-image: url("./images/eclipser-mixer/eclipser-mixer_420/5_EclipserMixer_420.jpg");
background-repeat: no-repeat;
background-position: center;
width: 420px;
height: 316px;
}
#_7_eclipser-mixer{
background-image: url("./images/eclipser-mixer/eclipser-mixer_420/7_EclipserMixer_420.jpeg");
background-repeat: no-repeat;
background-position: center;
width: 420px;
height: 560px;
}
#_4_eclipser-mixer{
background-image: url("./images/eclipser-mixer/eclipser-mixer_420/4_EclipserMixer_420.jpg");
background-repeat: no-repeat;
background-position: center;
width: 420px;
height: 315px;
}

}
@media only screen and ( min-width: 840px)
 and ( max-width: 1280px)
{
#_1_ferrock{
background-image: url("./images/ferrock/ferrock_420/1_ferrock_tiles_420w.jpg");
background-repeat: no-repeat;
background-position: center;
width: 420px;
height: 315px;
}
#_5_ferrock{
background-image: url("./images/ferrock/ferrock_420/5_Workshop_420w.jpg");
background-repeat: no-repeat;
background-position: center;
width: 420px;
height: 315px;
}
#_2_ferrock{
background-image: url("./images/ferrock/ferrock_420/2_Rob_&_David_crushing_oyster_420w.jpg");
background-repeat: no-repeat;
background-position: center;
width: 420px;
height: 315px;
}
#_3_ferrock{
background-image: url("./images/ferrock/ferrock_420/3_ferrock-gate_420w.jpg");
background-repeat: no-repeat;
background-position: center;
width: 420px;
height: 315px;
}
#_6_ferrock{
background-image: url("./images/ferrock/ferrock_420/6_Ferrock02_420.jpg");
background-repeat: no-repeat;
background-position: center;
width: 420px;
height: 354px;
}
#_4_ferrock{
background-image: url("./images/ferrock/ferrock_420/4_Maria_&_Ramsey_420w.jpg");
background-repeat: no-repeat;
background-position: center;
width: 420px;
height: 560px;
}
#_7_ferrock{
background-image: url("./images/ferrock/ferrock_420/7_Bake_A_Cake_420.jpg");
background-repeat: no-repeat;
background-position: center;
width: 420px;
height: 560px;
}

}
@media only screen and ( min-width: 840px)
 and ( max-width: 1280px)
{
#_1_mushroom_event_1{
background-image: url("./images/mushroom_event_1/mushroom_event_1_420/1_Workshop_wide _420.jpg");
background-repeat: no-repeat;
background-position: center;
width: 420px;
height: 315px;
}
#_2_mushroom_event_1{
background-image: url("./images/mushroom_event_1/mushroom_event_1_420/2_Packing_sawdust_420.jpg");
background-repeat: no-repeat;
background-position: center;
width: 420px;
height: 315px;
}
#_3_mushroom_event_1{
background-image: url("./images/mushroom_event_1/mushroom_event_1_420/3_Mushroom_dye_display_420.jpg");
background-repeat: no-repeat;
background-position: center;
width: 420px;
height: 315px;
}
#_5_mushroom_event_1{
background-image: url("./images/mushroom_event_1/mushroom_event_1_420/5_Packing_sawdust_420.jpg");
background-repeat: no-repeat;
background-position: center;
width: 420px;
height: 315px;
}
#_4_mushroom_event_1{
background-image: url("./images/mushroom_event_1/mushroom_event_1_420/4_Randi_dying_action_420.jpg");
background-repeat: no-repeat;
background-position: center;
width: 420px;
height: 560px;
}
#_6_mushroom_event_1{
background-image: url("./images/mushroom_event_1/mushroom_event_1_420/6_Drilling_logs_420.jpg");
background-repeat: no-repeat;
background-position: center;
width: 420px;
height: 315px;
}
#_7_mushroom_event_1{
background-image: url("./images/mushroom_event_1/mushroom_event_1_420/7_Rich finished_log_420.jpg");
background-repeat: no-repeat;
background-position: center;
width: 420px;
height: 315px;
}

}
