//./src/scss/happenings/_images_640.scss
@media only screen and ( min-width: 1300px)
 and ( max-width: 2068px)
{
#_1_eclipser-mixer{
background-image: url("./images/eclipser-mixer/eclipser-mixer_640/1_EclipserMixer_640.jpg");
background-repeat: no-repeat;
background-position: center;
width: 640px;
height: 480px;
border: 5px solid #ffffff;
}
#_2_eclipser-mixer{
background-image: url("./images/eclipser-mixer/eclipser-mixer_640/2_EclipserMixer_640.jpg");
background-repeat: no-repeat;
background-position: center;
width: 640px;
height: 480px;
border: 5px solid #ffffff;
}
#_3_eclipser-mixer{
background-image: url("./images/eclipser-mixer/eclipser-mixer_640/3_FennelMeThis_640.jpg");
background-repeat: no-repeat;
background-position: center;
width: 640px;
height: 828px;
border: 5px solid #ffffff;
}
#_4_eclipser-mixer{
background-image: url("./images/eclipser-mixer/eclipser-mixer_640/4_EclipserMixer_640.jpg");
background-repeat: no-repeat;
background-position: center;
width: 640px;
height: 480px;
border: 5px solid #ffffff;
}
#_5_eclipser-mixer{
background-image: url("./images/eclipser-mixer/eclipser-mixer_640/5_EclipserMixer_640.jpg");
background-repeat: no-repeat;
background-position: center;
width: 640px;
height: 482px;
border: 5px solid #ffffff;
}
#_6_eclipser-mixer{
background-image: url("./images/eclipser-mixer/eclipser-mixer_640/6_IntheWeeds_640.jpg");
background-repeat: no-repeat;
background-position: center;
width: 640px;
height: 828px;
border: 5px solid #ffffff;
}
#_7_eclipser-mixer{
background-image: url("./images/eclipser-mixer/eclipser-mixer_640/7_Nicole_croped_EclipserMixer_475.jpeg");
background-repeat: no-repeat;
background-position: center;
width: 475px;
height: 471px;
border: 5px solid #ffffff;
}

}
@media only screen and ( min-width: 1300px)
 and ( max-width: 2068px)
{
#_1_ferrock{
background-image: url("./images/ferrock/ferrock_640/1_ferrock_tiles_640w.jpg");
background-repeat: no-repeat;
background-position: center;
width: 640px;
height: 480px;
border: 5px solid #ffffff;
}
#_2_ferrock{
background-image: url("./images/ferrock/ferrock_640/2_Rob_&_David_crushing_oyster_640w.jpg");
background-repeat: no-repeat;
background-position: center;
width: 640px;
height: 480px;
border: 5px solid #ffffff;
}
#_3_ferrock{
background-image: url("./images/ferrock/ferrock_640/3_ferrock-gate_640w.jpg");
background-repeat: no-repeat;
background-position: center;
width: 640px;
height: 480px;
border: 5px solid #ffffff;
}
#_4_ferrock{
background-image: url("./images/ferrock/ferrock_640/4_Maria_&_Ramsey_640w.jpg");
background-repeat: no-repeat;
background-position: center;
width: 640px;
height: 853px;
border: 5px solid #ffffff;
}
#_5_ferrock{
background-image: url("./images/ferrock/ferrock_640/5_Workshop_640w.jpg");
background-repeat: no-repeat;
background-position: center;
width: 640px;
height: 480px;
border: 5px solid #ffffff;
}
#_6_ferrock{
background-image: url("./images/ferrock/ferrock_640/6_Ferrock02_640.jpg");
background-repeat: no-repeat;
background-position: center;
width: 640px;
height: 539px;
border: 5px solid #ffffff;
}
#_7_ferrock{
background-image: url("./images/ferrock/ferrock_640/7_Bake_A_Cake_640.jpg");
background-repeat: no-repeat;
background-position: center;
width: 640px;
height: 853px;
border: 5px solid #ffffff;
}

}
@media only screen and ( min-width: 1300px)
 and ( max-width: 2068px)
{
#_1_mushroom_event_1{
background-image: url("./images/mushroom_event_1/mushroom_event_1_640/1_Workshop_wide _640.jpg");
background-repeat: no-repeat;
background-position: center;
width: 640px;
height: 480px;
border: 5px solid #ffffff;
}
#_2_mushroom_event_1{
background-image: url("./images/mushroom_event_1/mushroom_event_1_640/2_Packing_sawdust_640.jpg");
background-repeat: no-repeat;
background-position: center;
width: 640px;
height: 480px;
border: 5px solid #ffffff;
}
#_3_mushroom_event_1{
background-image: url("./images/mushroom_event_1/mushroom_event_1_640/3_Mushroom_dye_display_640.jpg");
background-repeat: no-repeat;
background-position: center;
width: 640px;
height: 480px;
border: 5px solid #ffffff;
}
#_4_mushroom_event_1{
background-image: url("./images/mushroom_event_1/mushroom_event_1_640/4_Randi_dying_action_640.jpg");
background-repeat: no-repeat;
background-position: center;
width: 640px;
height: 853px;
border: 5px solid #ffffff;
}
#_5_mushroom_event_1{
background-image: url("./images/mushroom_event_1/mushroom_event_1_640/5_Packing_sawdust_640.jpg");
background-repeat: no-repeat;
background-position: center;
width: 640px;
height: 480px;
border: 5px solid #ffffff;
}
#_6_mushroom_event_1{
background-image: url("./images/mushroom_event_1/mushroom_event_1_640/6_Drilling_logs_640.jpg");
background-repeat: no-repeat;
background-position: center;
width: 640px;
height: 480px;
border: 5px solid #ffffff;
}
#_7_mushroom_event_1{
background-image: url("./images/mushroom_event_1/mushroom_event_1_640/7_Rich finished_log_640.jpg");
background-repeat: no-repeat;
background-position: center;
width: 640px;
height: 480px;
border: 5px solid #ffffff;
}

}
