/* style.css */

*{
    margin: auto;
}
 body{
   max-width: 2068px;
    width: 100%;
    margin:auto;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color:white;
//  outline: 1px solid red;
} 

h1,h2{
    display: inherit;
    width: 100%;
    flex: 1;
    justify-content: center;
    color:#ff9900;
}
h1{
    font-family: 'Montserrat', sans-serif;
}
h2,p{
    font-family: 'Poppins', sans-serif;
}
h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
    color: #000;
}
p{
    color: black;
}
section{  
    display: inherit;
    flex-wrap: wrap;
    align-items: center;
    
}
a{
    margin:auto;
    justify-content: center;
}
.header{
    flex: 1;
    margin: 0%;
    padding: 0%;
    height: 15%;
    width: 100%;
    // background-color: #ff9900;
    display: flex;
    flex-wrap:nowrap;
    justify-content:right;
    align-items: end;
    align-content: center;

}

.figure {
    flex: 1;
    border: 5% solid #ffff;
    margin: 1%;
    padding: 0% 0% 0% .5%;
    height: inherit;
}
article{
    flex: 1;
    flex-wrap: wrap;
    margin: 5%;
}

hr{
    height: 15px;
    width: 100%;
    background-color:#ff9900;
    margin-bottom: .5%;
    margin-top: 5%;
    margin-bottom: 0%;
}
.logo{
    position:relative;
    width: 50%;
    height: auto;
    left: 25%;
}

@media screen and (max-width: 2068px) {
    body{
        max-width: 1300px;

}}
@media screen and (max-width: 1300px) {
    body{
        max-width: 1024px;

}}
@media screen and (max-width: 1024px) {
    body{
        max-width: 860px;

}}
@media screen and (max-width: 860px) {
    body{
        max-width: 500px;

}}
@media screen and (max-width: 480px) {
    body{
        max-width: 320px;
        // margin: auto;
        // width: 50%;
    }
    section{
        flex-direction: column;
    }
}    

