/* style.css */

*{
    margin: auto;
}
 body{
   max-width: 2050px;
    width: 100%;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color:white;
// outline: 1px solid red;
} 

h1,h2{
    display: inherit;
    width: 100%;
    flex: 1;
    justify-content: center;
    color:#ff9900;
}
h1{
    font-family: 'Montserrat', sans-serif;
}
h2,p{
    font-family: 'Poppins', sans-serif;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #000;
}
p{
    color: black;
}
section{  
    display: inherit;
    flex-wrap: wrap;
    align-items: center;
    
}

.figure {
    flex: 1;
    margin: 0%;
    padding: 0% 0% 0% .2%;
    height: inherit;
}
article{
    flex: 1;
    flex-wrap: wrap;
    margin: 5%;
}
img{
    width:50%;
    margin: 0%;
    padding: 0%;
}
hr{
    height: 15px;
    width: 100%;
    background-color:#ff9900;
    margin-bottom: .5%;
    margin-top: 0%;
    margin-bottom: 0%;
}


@media screen and (max-width: 2048px) {
    body{
        max-width: 1280px;

}}
@media screen and (max-width: 1280px) {
    body{
        max-width: 1024px;

}}
@media screen and (max-width: 1024px) {
    body{
        max-width: 840px;

}}
@media screen and (max-width: 840px) {
    body{
        max-width: 480px;

}}
@media screen and (max-width: 480px) {
    section{
        flex-direction: column;
    }
    body{
        max-width: 300px;

}
}    

