
.logo {
    position: relative;
    // padding: 6rem;
    top: 15%;// based on 7:16 aspect ratio
    left: 0%;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 25%;
    height: 25%;
    background-color: transparent;
    background-position: center center;
    // z-index: 2;
  }