@media only screen and (min-width: 240px) and (max-width: 420px) {
  .logo {
    background-image: url("/logo/1_newledo_logo_123w.png");
  }
}
@media only screen and (min-width: 420px) and (max-width: 640px) {
  .logo {
    background-image: url("/logo/2_newledo_logo_184w.png");
  }
}
@media only screen and (min-width: 640px) and (max-width: 1280px) {
  .logo {
    background-image: url("/logo/3_newledo_logo_276w.png");
  }
}
@media only screen and (min-width: 1280px) and (max-width: 1600px) {
  .logo {
    background-image: url("/logo/4_newledo_logo_344w.png");
  }
}
@media only screen and (min-width: 1600px) and (max-width: 2560px) {
}
.logo {
  background-image: url("/logo/5_newledo_logo_414w.png");
}
@media only screen and (min-width: 2560px) and (max-width: 3840px) {
  .logo {
    background-image: url("/logo/6_newledo_logo_621w.png");
  }
}
@media only screen and (min-width: 3840px) and (max-width: 7680px) {
  .logo {
    background-image: url("/logo/7_newledo_logo_777w.png");
  }
}
